*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: gray;
}

section{
	background-color: gray;
	font-color: green;
}

h1{
	font-size: 20px;
}