<style>
html{
	background-image: url("background.jpg"); 
	height: 50px;
}
header li {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #aacc99;
	font-size: 130%;
	font-family: Arial, Helvetica, sans-serif;
	color: #999944;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	width: 100px;
	text-align: center;
	margin: 3px;
}
a:link, a:visited {
	text-decoration: none;
	background-color:green;
	border: 1px solid blue;
	color: black;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	color: #77aa99;
	background-color: #aacc99;
	text-align: center;
}
</style>