<style>
html{
	background-image: url("background.jpg"); 
}
header li {
	list-style: none;
	width: 100px;
	text-align: center;
	margin: 10px;
}
a:link, a:visited {
	text-decoration: none;
	background-color: #aacc99;
	border: 1px #999944;
	color: black;
	text-align: center;
	margin-bottom: 2px;
	font-family: Arial, Helvetica, sans-serif;
}
a:hover, a:active{
	border: 2px black;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	color: #77aa99;
	background-color: #aacc99;
	text-align: center;
}
</style>