header > a {
	background-color: #ddddee;
	border-style: solid;
	border-color: #999944;
	font-size: 130%;
	font-family: Arial, Helvetica, sans-serif;
	color: #999944;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	width: 100px;
	text-align: center;
	margin: 3px;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	color: #cc5533;
	text-align: center;
}